services:
  php:
    build:
      context: docker/php
      dockerfile: Dockerfile
    user: ${CONTAINER_USER:-}
    environment:
      INSIDE_DEVCONTAINER: true
      HISTFILE: /workspace/var/.docker_history
      COMPOSER_CACHE_DIR: /workspace/var/.composer_cache
    tty: true
    volumes:
      - .:/workspace:cached
    working_dir: /workspace
