name: Check

on:
  workflow_dispatch: ~
  push:
    branches: [main, '*.*.x']
  pull_request: ~

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: make fixer-check rector-check

  composer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: make composer-validate composer-normalize-check deps-analyze

  phpstan:
    runs-on: ubuntu-latest
    strategy: &strategy
      fail-fast: false
      matrix:
        php: [ 8.4, 8.5 ]
        deps: [ lowest, highest ]
    steps:
      - uses: actions/checkout@v6
      - run: PHP_IMAGE_VERSION=${{ matrix.php }} make ${{ matrix.deps == 'lowest' && 'install-lowest' || '' }} phpstan
